@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

body {
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?streets');
    font-size: 100%;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
    margin: 1em;
    font-family: 'Tektur', cursive;
    ;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 28px;
    background-color: #7c7c7c6b;
    font-family: inherit;
    color: whitesmoke;
    font-size: 90%;
    width: 100%;
}
.search-bar:hover{
    background: #7c7c7c8b;
}

button {
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    opacity: 73%;
    cursor: pointer;
    background-color: #7c7c7c6b;
    color: whitesmoke;
    transition: 0.2s ease-in-out;
}

button:hover{
    background-color: #7c7c7c8b;
}

h1.temp{
    margin: 0;
    margin-bottom: 0.5em;
}

.descriptio{
    text-transform: capitalize;
    margin-left: 8px;
}

.flex{
display: flex;
align-items: center;
}